*{
    margin: 0;
    padding: 0;
}

/* 헤더 메뉴 */
header{
    height: 100px;
}


/* ************************************ */
/* 메인바디 박스오피스 영역 */
/* ************************************ */
.main-top {
    background-color: lightgray;
}