*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 헤더 */
header {
  position: relative;
  height: 91px;
  width: 100%;
  min-width: 1100px;
  background-color: white;
  border-bottom: 1px solid #390081;
  z-index: 100;
}
.header-grid {
  width: 1100px;
  margin: 0 auto;
  height: 90px;
}
.up-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  height: 30px;
}
.left-nav a {
  text-decoration: none;
  font-size: 13px;
  margin-right: 17px;
  color: #555;
}
.right-nav a {
  text-decoration: none;
  font-size: 13px;
  margin-left: 17px;
  color: #555;
}
/* main 메뉴 */
.main-nav a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.nav3 {
  display: flex;
  gap: 50px;
}
.nav3 a {
  font-size: 18px;
  font-weight: bold;
}

.main-nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main-nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-img {
  width: 22px;
  height: 22px;
  display: block;
}
.main-home {
  width: 140px;
  height: 47px;
}


/* 페이지 상단 */
.main-top {
  height: 920px;
  position: relative;
  /* overflow: hidden; */
  padding: 50px 0;
  color: white;
}
.main-top::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("images/image1.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(50px);
  z-index: 0;
}
.main-top::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.box-office {
  position: relative;
  z-index: 2;
  width: 1100px;
  margin: 0 auto;
}
.title{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  font-size: 20px
}
.title h4 {
  border-bottom: 3px solid gray;
  padding-bottom: 5px;
}
.title p {
  position: absolute;
  right: 0;
}
.poster {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.movie img{
  width: 245px;
  height: 350px;
  border-radius: 12px;
}
.active {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.active button , .active a {
  height: 40px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.like {
  width: 30%;
  background-color: black;
  border-radius: 1px solid white;
  padding: 0 10px;
  flex: 1;
}
.reservation-btn {
  width: 60%;
  background-color: #037B94;
  border: none;
  flex: 2;
}
.info{
  height: 70px;
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.info input {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-bottom: 1px solid gray;
  width: 25%;
  font-size: 20px;
  display: block;
  padding: 0 20px 0 10px;
  }
.info p {
  padding: 0 70px 0 80px;
}
.info-t{
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}
.info-r {
  border-left: 1px solid gray;
}


/* 페이지 중상 (혜택)*/
.main-top-middle {
  /* overflow: hidden; */
}
.membership { 
  width: 1100px; 
   margin: 0 auto;
  position: relative;
  z-index: 1;
  top: 100px;
}
.membership-cards {
  display: flex;
}
.left {
  /* width: 100%; */
  flex: 0 0 70%;
  margin : 30px 20px 0 0;
  /* background-color: red; */
}

.membership-info {
  display: flex;
  gap: 20px;
}
.membership-info > img {
  width: 50%;
  display: block;
}
.membership-ticket {
  display: flex;
  flex-direction: column;
  gap: 20px;
  letter-spacing: 0;
}
.membership-ticket h3 {
  font-size: 22px;
}
.membership-ticket h1 {
  font-size: 36px;
  font-weight: 1000;
}
.membership-ticket > p {
  margin-right: 110px
}
.membership-bottom {
  display: flex;
  gap: 20px;
}
.membership-bottom img {
  border-radius: 10px;
  height: 230px;
  box-shadow: 5px 5px 10px black;
  display: block;
}
.membership > h3 {
  font-size: 28px;
  color: #503396;
}
.member-item {
  left: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.page-bar {
  width: 50%;
  height: 2px;
  background-color: #503396;
}
.member-item p {
  display: flex;
  gap: 10px;
}
.membership-menu{
  height: 350px;
  background-color: #503396;
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 100px;
}
/* .membership-menu::before{
  position: absolute;
  content: "";
  z-index: 0;
} */
.membership-menu > div:first-child {
  margin-left: auto;
}
.membership-menu > div:last-child {
  margin-right: auto;
}
.membership-menu  div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  gap: 20px;
}
.membership-menu p {
  color: white;
  font-size: 20px;
  font-weight: bold;
}


/* 페이지 중단 */
.main-middle {
  height: 860px;
  background-color: #252451;
  color: white;
}
.cu-title , .cu-area {
  width: 1100px;
  margin: 0 auto;
}
.cu-title {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.cu-title h2 {
  color: white;
  font-size: 30px;
}
.cu-title h3 {
  color: gray;
}
.cu-area {
  margin-top: 30px;
  display: flex;
  gap: 60px;
}
.film-maincard {
  border-radius: 15px;
}
.cu-left {
  width: 300px;
}
.film-area {

}
.btns {
  display: flex;
  gap: 5px;
  padding: 5px 0;
  height: 60px;
  font-size: 20px;
}
.detail {
  background-color: #252451;
  flex: 1;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  font-size: inherit;
}
.cu-reservation-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #037B94;
  flex: 1;
  color: white;
  border-radius: 5px;
}
.film-info-area {
  display: flex;
  flex-direction: column;
}
.film-info-area h4 {
  font-size: 24px;
}
.film-info-area h2 {
  font-size: 40px;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}
.content {
  margin-top: 20px;
}


ul {
  display: flex;
  gap: 30px;
}
li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
li img{
  border-radius: 15px;
}


/* 페이지 하단  */
.bottom-container {
  width: 1100px;
  margin: 50px auto;
}
.bottom-container > h2 {
  font-size: 32px;
  color: #503396;
  font-weight: 500;
}
.img-cards {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.img-cards span {
  position: absolute;
  font-size: 40px;
  color: rgb(187, 180, 180);
}
.left-span {
  left: -40px;
}
.right-span {
  right: -40px;
}
.img-cards img{
  width: 170px;
  height: 170px;
  border-radius: 20px;
}
.notice {
  margin-top: 70px;
  display: flex;
  align-items: center;
}
.notice-mega {
  flex: 1;
  margin-left: 40px;
}
.notice-date{
  display: flex;
  gap: 30px;
}
.inq-container {
  z-index: 1;
  position: relative;
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.inq-box {
  max-width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.last-img {
    display: flex;
    justify-content: center;
    margin: 80px auto 0;
    background-color: #916B47;
    min-width: 1100px;
}


/* footer */
footer {
  margin-top: 150px;
  height: 200px;
  background-color: #f8f8fa;
  width: 100%;
  min-width: 1100px;
}
/* inner-foot */
.inner-foot {
  margin: auto;
  width: 1100px;
  max-width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
/* foot-tpo */
.foot-top {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
  align-items: center;
}
.search-theater {
  border-radius: 20px;
  border: 1px solid #ccc;
  height: 30px;
  width: 106px;
  background-color: #f8f8fa;
  color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.search-theater img {
  width: 17px;
  height: 17px;
}

/* foot-nav */
.foot-nav {
  display: flex;
  gap: 13px;
}
.foot-nav a {
  text-decoration: none;
  font-size: 13px;
  color: #666;
}
.nav-bold {
  color: black;
}

/* foot-info */
.foot-info {
  display: flex;
  gap: 20px;
}
.foot-info img {
  width: 150px;
  height: 50px;
}
.foot-text {
  font-size: 13px;
  color: #444;
}

/* footer sns */
.foot-link-sns {
  display: flex;
  gap: 10px;
}
.foot-link-sns .link-sns img {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
  padding: 3px;
  color: white;
}



