*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
  list-style: none;
}
header{
    height: 100px;
    background-color: antiquewhite;
}
body {
}

a {
  text-decoration: none;
}
/* 페이지 상단 */
.main-top {
  width: 100vw;
  height: 920px;
  position: relative;
  overflow: hidden;
  padding: 50px 0;
  color: white;
}
.main-top::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../images/image1.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(60px);
  z-index: 0;
}
.main-top::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.box-office {
  position: relative;
  z-index: 2;
  max-width: 1100px;
  margin: 0 auto;
}
.title{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  font-size: 20px
}
.title h4 {
  border-bottom: 3px solid gray;
  padding-bottom: 5px;
}
.title p {
  position: absolute;
  right: 0;
}
.poster {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.movie img{
  width: 245px;
  height: 350px;
  border-radius: 12px;
}
.active {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.active button {
  height: 40px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.like {
  width: 30%;
  background-color: black;
  border-radius: 1px solid white;
  padding: 0 10px;
}
.reservation-btn {
  width: 60%;
  background-color: #037B94;
  border: none;
}
.reservation {
  color: white;
}
.info{
  height: 70px;
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.info input {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-bottom: 1px solid gray;
  width: 25%;
  font-size: 20px;
  display: block;
  padding: 0 20px 0 10px;
  }
.info p {
  padding: 0 70px 0 80px;
}
.info-t{
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}
.info-r {
  border-left: 1px solid gray;
}


/* 페이지 중상 */
.main-top-middle {
  /* max-width: 1100px; */
  /* position: relative; */
}
.membership { 
  padding: 0 20%;
  position: relative;
  z-index: 1;
  bottom: -150px;
}
.membership-cards {
  display: flex;
  /* justify-content: space-between; */
}
.left {
  margin-top: 30px;
}
.membership-top {
  display: flex;
  justify-content: space-between;
}
.membership-info {
  display: flex;
  gap: 20px;
}
.membership-ticket {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.membership-bottom {
  display: flex;
  gap: 20px;
  width: 30%;
}
.membership-bottom img {
  border-radius: 10px;
  height: 230px;
  box-shadow: 5px 5px 10px black;
  display: block;
}
.membership > h3 {
  font-size: 28px;
  color: #503396;
}
.membership-item {
  left: 100px;
}
.page-bar {
  width: 80%;
  height: 2px;
  background-color: #503396;
}
.membership-menu{
  padding: 0 20%;
  width: 100vw;
  height: 450px;
  background-color: #503396;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}
.membership-menu::before{
  position: absolute;
  z-index: 0;
}
.membership-menu div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
}
.membership-menu p {
  color: white;
  font-size: 20px;
  font-weight: bold;
}


/* 페이지 중단 */
.main-middle {
  height: 860px;
  background-color: #252451;
  padding: 50px 20% 0 20%;
  color: white;
}
.cu-title {
  display: flex;
  justify-content: space-between;
}
.cu-title h2 {
  color: white;
  font-size: 30px;
}
.cu-title h3 {
  color: gray;
}
.cu-area {
  margin-top: 30px;
  display: flex;
  gap: 60px;

}
.film-maincard {
  border-radius: 15px;
}
.cu-left {
  width: 300px;
}
.film-area {

}
.btns {

}
.film-info-area {
  display: flex;
  flex-direction: column;
}
.film-info-area h4 {
  font-size: 24px;
}
.film-info-area h2 {
  font-size: 40px;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}
.content {
  margin-top: 20px;
}


ul {
  display: flex;
  gap: 30px;
}
li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
li img{
  border-radius: 15px;
}



